@charset "utf-8";

/*카카오영입 미디어쿼리 - media.css*/

/*1300px이하 사이즈 */
@media only screen and (max-width:1300px) {

    html {
        font-size: 16px;
    }

    /*메인베너*/
    .mb1 {
        height: 620px;
    }

    .rbx::before {
        padding-top: 620px;
    }

}

/*1300px 이하 미디어쿼리*/


/*1200px 이하 미디어쿼리*/
@media only screen and (max-width:1200px) {

    /*스몰배너*/
    .sb1 {
        height: 320px;
    }

    .rbx2::before {
        padding-top: 320px;
    }

    /*인사이드 카카오 이미지*/
    .insidek img {
        width: 320px;
        height: 320px;
    }

    /*kakao tech 이미지*/
    .ktech img {
        width: 320px;
        height: 320px;
    }

}

/*1200px 이하 미디어쿼리*/


/*1050px 이하 미디어쿼리*/
@media only screen and (max-width:1050px) {

    /*스몰배너*/
    .sb1 {
        height: 300px;
    }

    .rbx2::before {
        padding-top: 300px;
    }

    /*인사이드 카카오 이미지*/
    .insidek img {
        width: 300px;
        height: 300px;
    }

    /*kakao tech 이미지*/
    .ktech img {
        width: 300px;
        height: 300px;
    }

    /*업무스타일 txt*/
    .wstxt {
        font-size: 1.375rem;
        line-height: 2rem;
    }

}

/*1050px 이하 미디어쿼리*/


/*900px 이하 미디어쿼리*/
@media only screen and (max-width:900px) {

    /*스몰배너*/
    .sb1 {
        height: 250px;
    }

    .rbx2::before {
        padding-top: 250px;
    }

    /*인사이드 카카오 이미지*/
    .insidek img {
        width: 250px;
        height: 250px;
    }

    /*kakao tech 이미지*/
    .ktech img {
        width: 250px;
        height: 250px;
    }


}

/*900px 이하 미디어쿼리*/

/*500px 이하 사이즈*/
@media only screen and (max-width:500px) {

    /*글자크기 변경*/
    html {
        font-size: 14px;
    }

    /*모바일사이즈 가로스크롤 없애기*/
    html,
    body {
        width: 100%;
        overflow-x: hidden;
    }

    /*상단영역 높이값 변경*/
    .t1 {
        height: 50px;
    }
    #top {
        height: 50px;
        z-index: 3;
    }

    /*로고*/
    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: -10px;
    }


    /*모바일 메뉴 버튼 보이기*/
    #ham {
        display: block;
    }

    /*gnb 메뉴 없애기*/
    .gnb {
        display: none;
    }

    /*로그인 글씨 없애고 아이콘으로 변경*/
    .login {
        display: none;
    }

    .mlogin {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
    .mlogin a{
        display: block;
        width: 100%;
        height: 100%;
    }


    /*메인배너 높이값 변경*/
    .mb1 {
        width: 100%;
        height: 568px;
    }

    .rbx::before {
        padding-top: 568px;
    }

    /*슬라이드별 이미지 모바일 이미지로 변경*/
    .slide li:nth-child(1) {
        background: url(../images/mkrew1.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(2) {
        background: url(../images/mkrew2.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(3) {
        background: url(../images/mkrew3.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(4) {
        background: url(../images/mkrew4.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(5) {
        background: url(../images/mkrew5.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(6) {
        background: url(../images/mkrew6.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(7) {
        background: url(../images/mkrew7.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(8) {
        background: url(../images/mkrew8.jpg) no-repeat center/cover;
    }

    .slide li:nth-child(9) {
        background: url(../images/mkrew9.jpg) no-repeat center/cover;
    }

    /*메인배너 정보박스*/
    .krew_info {
        top: 50px;
    }

    /*인터뷰 링크 박스*/
    .link_itw {
        left: 6%;
    }

    /*크루 부서,이름 */
    .tit_name {
        top: 320px;
        font-size: 0.86rem;
    }

    /*크루 멘트*/
    .say {
        top: 345px;
        font-size: 1.65rem;
        white-space: nowrap;
    }

    /*인터뷰 바로가기 txt 없애기*/
    .icon_itw {
        display: none;
    }

    /*이동 버튼 위치 및 이미지 사이즈 변경*/
    #abtn {
        position: absolute;
        top: 525px;
        z-index: 5;
    }

    .abtn img {
        width: 30px;
        height: 30px;
    }

    /*배너 페이지 숫자 박스 위치 변경*/
    .pagenum {
        bottom: -50px;
    }

    /*스몰배너 사이즈 변경*/
    .sb1 {
        width: 100%;
        height: 320px;
    }

    .rbx2::before {
        padding-top: 320px;
    }

    /*인사이드 카카오 이미지*/
    .insidek img {
        width: 320px;
        height: 320px;
    }

    /*kakao tech 이미지*/
    .ktech img {
        width: 320px;
        height: 320px;
    }

    /*업무스타일 txt*/
    .wstxt {
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: center;
        white-space: nowrap;
    }

    /*하단영역 박스 display:none*/

    .i1 {
        display: none;
    }

    .i2 {
        display: none;
    }

    /*모바일 하단박스*/
    .miwrap {
        display: block;
    }



}

/*500px 이하 미디어쿼리*/
